body {
    font-family: sans-serif;
}
.section-1 {
    background-image: url(../img/bmw/home.jpg);
    background-size: cover;
    /* transform: translate(-50%,-50%); */
    height: 700px;

}

.text {
    width: 300px;
    position: absolute;
    height: 500px;
    color: #fff;
    margin-top: 375px;
    margin-left: 65px;
    font-size: 43px;
    font-family: sans-serif;
}

.section-2{
    height: 396px;
    background-color: #fff;
}

.p {
    margin-left: 137.5px;
    margin-top: 15px;
    margin-bottom: 100px;
    font-size: 18px;
    font-family: sans-serif;
}

.ph-1 {
    margin-left: 137.5px;
    margin-top: -90px;
}
.hr {
    width: 900px;
    height: 0.5px;
    background-color: #22222254;
    margin-left: 300px;
}
caption {
    padding-bottom: 12px ;
    margin-right: 880px;
    font-size: 30px;
    color: #666;
}
table {
    width: 900px;
    height: 200px;
    margin-left: 137.5px;
    margin-top: 45px;
    font-family: sans-serif;
    /* background: rgba(85, 85, 85, 0.349) ; */
}
tr {
    display: inline-block;
    margin-right: 90px;
}
.th {
        font-size: 20px;
        display: block;
        width: 200px;
        text-align: start;
        /* font-weight: 400; */
        color: #666;
        padding: 0 0 5px 0;
}
td {
    font-size: 20px;
    display: block;
    width: 200px;
    text-align: start;
    /* font-weight: 400; */
    color: rgba(102, 102, 102, 0.685);
    padding: 0 0 5px 0;
}   

.section-4 {
    background: #666;
}
.pra {
    font-size: 60px;

}

.ph-2 {
    display: inline-block;
    width:426px;
    height: 400px;
    margin-left: 65px;
}
.img {
    width: 100%;
}

.pra-1 {
    font-size: 16px;
    width: 100%;
    height: 50px;
    overflow:auto;
}
