h1,h2{
    text-align: center;
    margin-left: 110px;
}
.brands{
    width:15%;
    /* margin-right: 476px; */
    margin-left: 50%;
    margin-top: 5px;
    margin-bottom:5px ;
}
.bnd1,.bnd2,.bnd3{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.logo-1{
    width:45px;
}
.logo-2{
    width:45px;
}
.logo-3{
    width:45px;
    margin-bottom: 10px;
}
.row1, .row2 , .row3{
    text-align: center; 
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    display: inline-block;
}
.pdct{
    display: inline-block;
    background-color: white;
    border:5px solid #eee;
    height:310px;
    /* border:3px solid #EEE; */
}
h5{
    margin:0px;
    border:0px;
}
.cont{
    width: 100%;
    background-color: white;
    margin-left:230px;
    margin-right:auto ;
    text-align: center;
    
    
}
.cimg{
    width: 265px;
    
}
.pdct:hover,.pdct:active{
    /* margin-top: -8px; */
    margin-right: 6px;
    transition: 0.1s;
    border:5px solid #eee;
}
.btn{
    font-family: sans-serif;
    font-size: 13px;
    background-color:skyblue;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    width: 90px;
    height: 40px;
    margin-top: 5px;
    
}
.btn:hover{
    background-color:rgb(95, 144, 163);
    transition: 0.9s;
}
.pdtls{
    font-size: 16px;
    width: 260px;
    overflow-y: auto;
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    height: 72px;
}
.txt{
    font-family: sans-serif;
}
.all{
    position: absolute;
    top: 90px;
}
footer{
    margin-top: 150px;
    display: block;
}