body{
    background-image: url(../img/dan-gold-N7RiDzfF2iw-unsplash.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.form{
    width: 550PX;
    height: 850PX;
    background-color: rgba(0,0,0,0.5);
    margin: 110px auto;
    padding: 15PX;
    border-radius: 18px;
    margin-top: 200px;
}

.form form{
    padding: 10px;
    outline: 0;

}
label{
  color: #fff;
  display: flex
}
input[type=text],input[type=password],input[type=tel],input[type=email]{
    height: 40px;
    width: 400px;
    padding: 7px;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
}

input[type=button]{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-bottom: 5px;
    background:  #0077ff;
    color: #fff;
  margin-left: 40px;
    top: 98%;
    left: 40%;
    margin-top:10px;
    transition: all 0.5s;
}
input[type=button]:hover{
    background-color: #2174d2;
    color: #000;
}
input[type=reset]{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-bottom: 5px;
 margin-left: 40px;
    background: #0077ff;
    color: #fff;
    left: 51%;
    top: 98%;
    margin-top:10px;
    transition: all 0.5s;
}
input[type=reset]:hover{
    background-color: #2174d2;
    color: #000;
    
}
#data{
    height: 23px;
    width: 250px;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
    color: #fff;
}
#data:hover{
  background: #fff;
  color: #000;
}
input[type=file]{
    height: 25px;
    width: 350px;
    padding: 7px;
    margin-bottom: 25px;
    border-radius: 10px;
    cursor: pointer;
}
.in:hover, .in:focus{
  border-bottom: 3px groove blue;
}