/* home content */


.home {
    height: 100vh;
    background :#1c1d21;
    background-size: cover;
}

.section-1 {
    height: 900px;
    background :url(../img/mercedez-amg-g-63/img11.jpg);
    background-size: cover;  
}

.title {
    display: inline-block;
    width: 450px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin-top:  90px; 
    margin-left: 90px;
    padding: 9px;
}

.bla0 {
    font-size: 15px;
    margin: 15px 0 0;
}

.line {
    height: 2px;
    width: 45px;
    margin: 8px 0 20px;
    background: #6195ff;
    border: 0;
}
.bla {
    margin-top: 60px;
    font-size: 29px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    margin-top:30px;
    margin-left: 10px;
    width: 130px;
    height: 45px;
    font-size: 16px;
    background: #6195ff;
    color: #ffffff;
}

.btn-a {
    color: #fff;
    text-decoration: none;
}

.prag {
    display: block;
    margin-top: 330px;
    margin-left: 350px;
    width: 1028;
    height: 18;
    color: #fff;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif ;
   
}

.section-2 {
    background: #000;
    width: 100%;
    height: 700px;
}

.p-1 {
    display: block;
    color: #ffffff;
    font-size: 18px;
    /* margin-top: 40px; */
    margin-left: 15px;    
}

.p-2 {
    padding: 80px;
    font-size: 18px;
    width: 900px;
}

.sp-1, .sp-2, .sp-3 { 
    display: inline-block;
    margin-left: 80px;

}

.sp-3.m,.sp-2.m {
    margin-left: 90px;
}

.size {
    font-size: 180px;
    display: inline-block;
    color: #fff;
}

.block {
    display: block;
    font-size: 16px;

}

.ber {
    display: inline-block;
    font-size: 30px;
    color: #b21e23;
    margin-left: 350px;
}


.line-y {
    display: inline-block;
    height: 100px;
    width: 2px;
    color: #b21e23;
   margin-left: 80px;
}

.icon-1,.icon-2,.icon-3 {
    display: inline-block;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 120px;
}

.icon-1 i,.icon-2 i,.icon-3 i {
    background-color:#b21e23;
    border-radius: 30%;
}

.icon .p {
    color: #fff;
    font-size: 25px;
    display: inline-block;
    width: 400px;
    
}

.icon-2 {
    margin-left: 50px;
}
.small {
    color: #999;
    margin-left: 35px;
    width: 200px;
}

.section-3 {
    background: url(../img/mercedez-amg-g-63/img2222.jpg);
    height: 900px;
    background-size: cover;
    margin-top: -17px;
}
.section-3 .title {
    height: 159px;
}

.section-4 {
    width: 100%;
    height: 4800px;
    background: #000;
}

.details-1 {
    display: inline-block;
    margin-top:120px;
    margin-left: 250px;
    width: 500px; 
}

.pp {
    width: 100%;
}

.prag.d {
    display:inline-block;
    margin-top: 44px;
    margin-left: 11px;
   
    width: 400px;
    height: 18;
    color: #999;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif ;
   
}


.pragd {
    display: inline-block;
    width: 400px;
    height: 90px;
    color: #fff;
    margin-top: 120px;
    margin-left: 50px;
    padding-bottom: 120px;
    padding-top: 10px;

}
.details-2 {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-top: 120px;
    margin-left: 100px;
    color: #fff;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.line-2 {
    height: 1px;
    width: 900px;
    margin-left:300px;
    background: #e9ecf1;
    border: 0;
}

h3 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-5 {
    height: 900px;
    background :url(../img/mercedez-amg-g-63/section-5.jpg);
    background-size: cover;  
}

.section-5 .title {
    height: 159px;
}